<div id="nested-filters" style="display: contents;">
  <div class="filter-group">
    <label for="sourceType">Source Type</label>
    <select name="sourceType" id="sourceType">
      <option value="">All</option>
      {% for st in source_types %}
      <option value="{{ st }}">{{ st }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="filter-group">
    <label for="appName">App</label>
    <select name="appName" id="appName">
      <option value="">All</option>
      {% for app in apps %}
      <option value="{{ app }}">{{ app }}</option>
      {% endfor %}
    </select>
  </div>
</div>
